main {
  .serch {
    max-width: 633px;
    height: 62px;
    display: flex;
    margin-top: 60px;
    border: 1px solid #40bfff;
    margin: 60px auto 0;

    input {
      width: 100%;
      height: 100%;
      padding-left: 10px;
      border: none;
      outline: none;
      color: #262626;
      color: red;
      font-family: Proxima Nova;
      font-size: 18px;
      font-weight: 400;
    }

    button {
      width: 127px;
      height: 100%;
      background-color: #40bfff;
      border: none;
      color: #fff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .tab {
    width: 100%;
    height: auto;
    margin-top: 63px;

  
    .tab-item {
      cursor: pointer;
    }

    h3.tabTitle {
      color: #22262a;
      font-family: Poppins;
      font-size: 35px;
      font-weight: 600;
    }

    .tab-list {
      display: flex;
      justify-content: space-between;
      max-width: 627px;
      width: 100%;
      margin: 26px auto 0;

      // .tab-item {
      //   background-color: blue !important;
      // }

      .active {
        color: #33a0ff;
        border-bottom: 2px solid;
      }
    }

    .tab_box {
      width: 100%;
      height: auto;
      margin-top: 23px;
      display: grid;
      grid-template-columns: repeat(3, 298px);
      gap: 20px 0;
      justify-content: space-between;

      .tab_box-item {
        border: 1px solid rgba(128, 128, 128, 0.151);
        border-radius: 5px;
        width: 298px;
        height: 385px;

        .tab-img {
          position: relative;
          overflow: hidden;
          height: 250px;

          .tab-item_hover {
            position: absolute;
            inset: 30px 15px;
            background-color: #fff;
            border-radius: 8px;
            transform: translateY(120%);
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .icon {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #33a0ff;
              border-radius: 50%;
              cursor: pointer;

              i {
                font-size: 24px;
              }
            }
          }

          &:hover .tab-item_hover {
            transform: scale(1);
            transform: translateZ(0);
            transition: 0.3s ease-in-out;
          }
        }

        .tab-description {
          padding: 15px;
          .nikePrise {
            color: var(--neutral-dark, #223263);
            font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.5px;
            text-align: center;
          }

          .tabStars {
            margin-top: 6px;
            text-align: center;
          }

          .tab_price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
              color: var(--primary-blue, #40bfff);
              font-family: Poppins;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 180%; /* 32.4px */
              letter-spacing: 0.5px;
            }

            p {
              color: var(--neutral-grey, #9098b1);
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 21px */
              letter-spacing: 0.5px;
              text-decoration-line: strikethrough;
            }

            h4 {
              color: var(--primary-red, #fb7181);
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 21px */
              letter-spacing: 0.5px;
            }
          }
        }
      }
    }
    .tab_loadMore {
      cursor: pointer;
    }

    .main__about {
      .main__about-item {
        padding: 15px;
        .main__about-item__img {
          font-size: 101px;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  main {
    .tab {
      .tab_box {
        grid-template-columns: repeat(2, 298px);
        justify-content: space-evenly;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  main {
    .tab {
      .tab_box {
        grid-template-columns: repeat(1, 298px);
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    .tab {
      .main__about {
        flex-wrap: wrap;
      }
    }
  }
}
